h1 {
    text-align: center;
    /*background-color: beige;*/
    margin: 0;
    font-size: 3rem;
    /*color: #fff;*/
    background:
        url('gredients.jpg') center;
    background-size: cover;
    background-clip: text;
    color: transparent;
    animation: animate 10s linear infinite
}
@keyframes animate {
    to {
        background-position-x: -200px;
    }
}


td, th {
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
}
.table-header {
    background-color: #007ACC;
  color: white;
}
table {
    border-collapse: collapse;
    width: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E0FFFF;
    color: #333;

}
button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
input {

    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
label {
    display: block;
    margin: 3px;
}
.form-section, .list-students {
    flex: 1;
    padding: 30px;
    border-radius: 5px;
    background-color: #f5fffa ;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    overflow: hidden;
    flex-shrink: 0;
}
.form-section h2 {
    color: #007ACC;
    text-align: center;
}

.container {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        gap: 20px;
}
.add-btn, .save-btn {

    color: black;
    background: white;
    padding: 15px;
    border: 1px solid black


}
.add-btn:hover  {
    background: green;
    box-shadow:
            0 0 20px lightgreen,
            0 0 80px lightgreen,
            0 0 160px lightgreen;

    transition-delay: .1s;
    transition: all 0.3s ease;
}
.save-btn:hover {
    background: yellow;
    box-shadow:
            0 0 20px yellow,
            0 0 80px yellow,
            0 0 160px yellow;

    transition-delay: .1s;
    transition: all 0.3s ease;
}
.edit-btn:hover  {
    background: yellow;
    box-shadow:
        0 0 20px ;
    transition-delay: .1s;
    transition: all 0.3s ease;
}
.delete-btn:hover {
    background: #FF0000;
    box-shadow:
        0 0 20px red;
    transition-delay: .1s;
    transition: all 0.3s ease;
}
.reset-btn:hover {
    background: gray;
    box-shadow:
        0 0 0 20px gray;


    color: #E0FFFF;
    transition-delay: .1s;
    transition: all 0.3s ease;
}


